#gymContestsFilter {
    font-size: 0.8em;
}

#gymContestsFilter select {
    font-size: 0.8em;
}

div.setting-name {
    margin-bottom: 0.25em;
    color: #3B5998;
    font-weight: bold;
}

div.setting-inner-value {
    margin-bottom: 0.25em;
}

div.setting-value {
    margin-bottom: 1.5em;
}

div.setting-last-value {
}
